<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <img src="assets\restaurant-895427_960_720.png/" alt="">
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            
          <a class="nav-link " aria-current="page" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/about">About us</a>
          <a class="nav-link" routerLink="/menu">Menu</a>
          <a class="nav-link" routerLink="/cart">Cart</a>
        </div>
      </div>
    </div>
  </nav>
