.cartimage {
    width: 25%;
    max-height: 20vh;
    display: inline-block;
    margin-right: 1vh;
}
.imgtext {
   position: relative;
    display: inline-block;
    width: 40%;
    margin: 0%;
  

}
.price {
    font-weight: 700;
    width: 25%;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    
    
}

#cart {
    display: flex;
    justify-content: space-between;
   
}
#ul1{
    width: 75%;
    display: inline-block;
}
#ul2 {
    width: 20%;
    display: inline-block;
}
.li {
    font-weight: 800;
    border-bottom: 1px solid gray;
}
.container {
    margin-top: 7vh;
    margin-bottom: 7vh;
}
span {
    font-weight: 800;
}
#tot {
    margin: 0;
}
.dis {
    font-weight: 800;
}
#vat {
    margin-bottom: 0;
}
.cont {
    display: flex;
    align-items: center;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-size: 3.5rem;
}
label input {
    width: 50vh;
}
