<div id="container"><img src="assets\platter-2009590_960_720.jpg" alt="">
    <p id="great">Ristorante Il Gambero Rosso</p>
    <p id="del">Delivering great food for more than 18 years!</p><br><a routerLink="/menu"class="btn btn-success">Our
        menu</a><button class="btn btn-success">Book a table</button>
</div>
<div class="container">
    <h1>Check our specialties</h1>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="list-home">Pasta Carbonara</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="list-profile">Pasta Bolognese</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="list-messages">Pizza Margherita</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                    href="#list-settings" role="tab" aria-controls="list-settings">Lasagne</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h3>Pasta Carbonara</h3>
                    <p>Carbonara is an Italian pasta dish from Rome made with eggs, hard cheese, cured pork and black
                        pepper.The dish arrived at its modern form, with its current name, in the middle of the 20th
                        century.</p><img src="assets\pasta-712664_960_720.jpg" alt="">
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h3>Pasta Bolognese</h3>
                    <p>Bolognese sauce is a meat-based sauce in Italian cuisine, typical of the city of Bologna. It is
                        customarily used to dress tagliatelle al ragù and to prepare lasagne alla bolognese.</p><img src="assets\spaghetti-787048_960_720.jpg" alt="">
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h3>Pizza Margherita</h3>
                    <p>Pizza Margherita is a typical Neapolitan pizza, made with San Marzano tomatoes, mozzarella
                        cheese, fresh basil, salt, and extra-virgin olive oil.</p><img src="assets\pizza-2530169_960_720.jpg" alt="">
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <h3>Lasagna</h3>
                    <p>Lasagna also known as lasagne, is a type of pasta, possibly one of the oldest types, made of very
                        wide, flat sheets. Either term can also refer to an Italian dish made of stacked layers of
                        lasagna alternating with fillings such as ragù (ground meats and tomato sauce), béchamel sauce,
                        vegetables, cheeses (which may include ricotta, mozzarella, and parmesan), and seasonings and
                        spices.</p><img src="assets\food-5987888_960_720.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>